<div class="header">
    <figure>
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fgithub.com%2Fsysflow-telemetry&psig=AOvVaw0-q4QLMJK9FIyBPhf4pf0v&ust=1744529883792000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCKjG0bH-0YwDFQAAAAAdAAAAABAE"
            alt="">
    </figure>
    <div class="email-support-container">
        <figure>
            <img src="" alt="">
        </figure>
        <div class="email-support">
            <h2>Email Support</h2>
            <div class="email">
                <p>{{salesEmail}}</p>
                <span>
                    {{hrEmail}}
                </span>
            </div>
        </div>
    </div>
    <div class="Call-support-container">
        <figure>
            <img src="" alt="">
        </figure>
        <div class="Call-support">
            <h2>Call Support</h2>
            <div class="email">
                <p>{{Call}}</p>
            </div>
        </div>
    </div>
    <button class="btn">Get Support</button>
</div>