<div class="header">
    <figure>
        <img [src]="imageObj.logo">
    </figure>
    <div class="email-support-container">
        <figure class="mail">
            <img [src]="imageObj.mail" alt="">
        </figure>
        <div class="email-support">
            <h2>Email Support</h2>
            <div class="email">
                <p>{{salesEmail}}</p>
                <span>
                    {{hrEmail}}
                </span>
            </div>
        </div>
    </div>
    <div class="Call-support-container">
        <figure class="phone">
            <img [src]="imageObj.phone" alt="">
        </figure>
        <div class="Call-support">
            <h2>Call Support</h2>
            <div class="call">
                <p>{{Call}}</p>
            </div>
        </div>
    </div>
    <button class="btn">Get Support</button>
</div>